body{
    width: 100%;
    background: green;
    text-align: center;
}

label{
    display: block;
    margin:  5px;
    font-size: 20px;
}

input{
    height: 25px;
    font-size: 20px;
}

select{
    margin-bottom: 40px;
}

button {
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(rgb(111, 0, 255), rgb(0, 47, 255));
    display: block;
}