body {
    background-image: url("https://wallpaperaccess.com/full/266689.jpg"); 
    background-size: cover;
}
.opensection {
    background: #000000b4;
    width: 100vw;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 100vh;
}
.startBtn {
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    font-size: 10px;
    color: white;
    background-image: linear-gradient(rgb(111, 0, 255), rgb(0, 47, 255));
}
h1 {
    padding-top: 200px;
    color: white;
} 
@media (min-width: 600px) {
body {
    background-image: url("https://wallpaperaccess.com/full/266689.jpg"); 
    background-size: cover;;
}
.opensection {
    background: #000000b4;
    width: 100vw;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    height: 100vh;
}
.startBtn {
    border-radius: 20px;
    padding: 40px;
    width: 300px;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(rgb(111, 0, 255), rgb(0, 47, 255));
}
h1 {
    padding-top: 200px;
    color: white;
}

}