.question1 {
    text-align: center;
    margin-top: 300px;
    display: block;
}
.hidden {
    display: none;
}
.shown {
    display: block;
}
.question2 {
   text-align: center;
   margin-top: 300px;
}

.question3 {
    text-align: center;
    margin-top: 300px;
 }

 .question4 {
    text-align: center;
    margin-top: 300px;
 }